body { 
	background-color: #fff1e6;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	color: #282425;
	margin: 0px;
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
*/

.fotogalerie, .kontakt 
{
	background-color: #f9e3d0

}

.menu, .paticka {
	background-color: #282425;
	color: white;
	text-align: center;
}

h1, 
h2, 
h3 {
	font-family: 'Playfair Display', serif;
	font-style: italic;
} 

a {
	font-style: italic;
}

h1,
h2,
h3,
a{
	color: #756158;
}

h1
{
	font-size: 80px;
	text-align: center;
	color: white;
	margin: 0px;
}

h2
{ 	font-size: 48px;
	text-align: center;
	margin-top: 0px;

}

h3
{	font-size: 24px;
	margin-top: 36px;

}

.paticka
{ 	padding: 20px 0%;

}

section
{ padding: 50px 15%;

}

.menu 
{ padding: 0px;
	margin: 0px;

} 

.fotka_omne{
	width: 200px;
	border-radius: 50%;
	float: left;
	margin: 0 30px 30px 0;
}

.omne{
	color: black;
	font-family: 'Lucida Handwriting';
	text-align: center;
	font-size: small;
}